<template>
    <div>
        <p class="h1 mb-3 mt-4">Detail</p>
        <div>
            <div class="row ml-0 mr-0">
                <div class="col pl-0 pr-0 ">
                    <p class="text-center ml-1 mr-1 pt-1 pb-1 bg-dark text-light">HSG01 - HomeNOC POP53</p>
                </div>
                <div class="col pl-0 pr-0">
                    <p class="text-center ml-1 mr-1 pt-1 pb-1 bg-dark text-light">HSG01 - TYO01</p>
                </div>
                <div class="col pl-0 pr-0">
                    <p class="text-center ml-1 mr-1 pt-1 pb-1 bg-dark text-light">HSG01 - TYO04</p>
                </div>
            </div>
        </div>
        <p class="h3 mt-5">Transferred bytes</p>
        <div>
            <div class="row ml-0 mr-0">
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_homenoc_pop53_transferred.png" />
                </div>
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_tyo01_transferred.png" />
                </div>
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_tyo04_transferred.png" />
                </div>
            </div>
        </div>
        <p class="h3 mt-5">Daily</p>
        <div>
            <div class="row ml-0 mr-0">
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_homenoc_pop53_traffic.png" />
                </div>
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_tyo01_traffic.png" />
                </div>
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_tyo04_traffic.png" />
                </div>
            </div>
        </div>
        <p class="h3 mt-5">Weekly</p>
        <div>
            <div class="row ml-0 mr-0">
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_homenoc_pop53_traffic_weekly.png" />
                </div>
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_tyo01_traffic_weekly.png" />
                </div>
                <div class="col pl-0 pr-0">
                    <img class="pl-1 pr-1" style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/hsg01_tyo04_traffic_weekly.png" />
                </div>
            </div>
        </div>
        <div id="bg"></div>
    </div>
</template>
