<template>
    <div>
        <b-navbar class="bg-dark" toggleable="lg" type="dark" variant="info">
            <b-navbar-brand to="/">HSG01 Traffic</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item to="/">Summary</b-nav-item>
                    <b-nav-item to="/detail">Detail</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
