<template>
    <div>
        <p class="h1 mt-4">Summary</p>
        <p class="h3 mt-4">Daily</p>
        <div>
            <div class="row">
                <div class="col ml-0 mr-0 text-center">
                    <img src="//static.in-nw.net/img/anw-traffic/img/summary_inbound.png" />
                </div>
                <div class="col ml-0 mr-0 text-center">
                    <img src="//static.in-nw.net/img/anw-traffic/img/summary_outbound.png" />
                </div>
            </div>
        </div>
        <p class="h3 mt-4">Weathermap</p>
        <div>
            <img style="width: 100%;" src="//static.in-nw.net/img/anw-traffic/arupaka-network-weathermap.png" />
        </div>
        <div id="bg"></div>
    </div>
</template>
