<template>
    <div class="ml-auto mr-auto" style="width: 90%;">
        <Navi />
        <Nuxt />
        <Footer />
    </div>
</template>

<style>
    img {
        opacity: 0.95;
    }
    div#bg {
        background: url(/img/background.png) no-repeat center / 120% fixed;
        z-index: -1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
    }
</style>
